<mat-toolbar  color="primary">
	<span>
	<img src="assets/logo.png" class="angular-logo">
	TimeSheet
	</span>
	<span class="fill-remaining-space"></span>
	<!--<mat-menu #admin="matMenu">
	 <button mat-menu-item>Member</button>
	 <button mat-menu-item>Approver</button>
	</mat-menu>
	<button disabled mat-icon-button style="width: 11%;
    background-color: #b8bbb4;
    margin-right: 5%; border-radius: 0;" [matMenuTriggerFor]="admin">Menu
	</button>

	{{userName}}
	<mat-menu disabled #appMenu="matMenu">
		<button mat-menu-item>Settings</button>
		<button mat-menu-item>Help</button>
	</mat-menu>
	<button mat-icon-button [matMenuTriggerFor]="appMenu">
	<mat-icon>account_circle</mat-icon>
	</button>-->
</mat-toolbar>