.angular-logo {
    margin: 0 4px 3px 0;
    height: 35px;
    vertical-align: middle;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.mat-select-arrow-wrapper {
display: table-cell;
vertical-align: middle;
background-color: gainsboro;
}
.mat-toolbar.mat-primary {
background: #4A148C;
color: #fff;
}