.timesheetMain{
    width:100vw;
    height: 100vh;
    background-image:url("/assets/background.jpg"); 
    background-repeat:no-repeat;
    background-size: cover; 
}
.titleName{
    text-align:center;
    position:relative;
    top:5%;
    font-size:8vw;
    color: cornsilk;
    font-family:Tahoma;
}
.loginDiv{
    text-align:center;
    position:relative;
    top:1%;
}
input{
    width: 100%;
    max-height:5vh;
    background-color: #F4F7FC;
    font-size:1vw;
}
.whiteDiv{
    text-align:center;
    position:relative;
    border:1px solid #00D3D7;
    border-radius: 3%;
    padding: 4%;
    top:5%;
    width:40%;
    background-color: #00D3D7;
    font-family:Tahoma;
}
.btn{
    width: 100%;
    white-space: normal;
    max-height: 90%;
    font-size: 1vw;
    color:white;
    margin-top:2%;
    background-color: #127DA7;
}