<div class="timesheetMain">
  <p class="titleName">Timesheet</p>
  <div class="container loginDiv">
  <h3 style="padding-top:2%;font-size:3vw;color:wheat;">ACCOUNT LOGIN</h3>
</div>  
  <div class="container whiteDiv" >
    <form name="loginForm" (ngSubmit)="submit()">
    <p style="color:#696C6F;text-align: left;position: relative;top:10%;font-size: 1vw;">Enter Email<input name="emailId" [(ngModel)]="emailId" name="emailId" class="form-control" type="email" /></p>
    <p style="color:#696C6F;text-align: left;position: relative;top:10%;font-size: 1vw;">Enter Password<input class="form-control" [(ngModel)]="password" name="password" type="password" /></p>
    <p style="color:red;font-family: fantasy;font-size:1vw;">{{errData}}</p>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  </div>
</div>  