<div class="row">
<div class="col-sm-4">
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>
  </div>
</ng-template>
<div class="row ">
  <div class="col-md-12">
    <div class="btn-group">
      <div class="col-md-4">
      <div
        class="btn btn-primary btn-block"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      </div>
      <div class="col-md-4">
      <div
        class="btn btn-warning btn-block"
        mwlCalendarToday
        (click)="today(viewDate)"
        [(viewDate)]="viewDate">
        Today
      </div>
      </div>
      <div class="col-md-4" >
      <div
        class="btn btn-primary btn-block"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
      </div>
    </div>
  </div>
  </div>
  <div class="row text-center">
  <div class="col-md-12">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  </div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>

</div>
</div>
<div class=" col-sm-8">

<table>
  <div class="row" style="padding-top:0%;">
      <b><h4>TimeSheet For the Date:{{viewDate.toLocaleString("en-IN",{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}}</h4></b>
  </div>
  <div class="row">
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Projects
      </div>
      <div class="row selectOption">
        <select class='select-option' required [(ngModel)]='projectSelected' (change)='onOptionSelected(projectSelected,"projects")'>
          <option disabled hidden [value]="selectUndefinedOptionValue">Projects</option>
          <option class='option' *ngFor='let option of project;' [value]="option">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Stages
      </div>
      <div class="row selectOption">
        <select [disabled]="stageDisabled" class='select-option' required [(ngModel)]='stagesSelected' (change)='onOptionSelected(stagesSelected,"stages")'>
          <option disabled hidden [value]="selectUndefinedOptionValue">Stages</option>
          <option class='option' *ngFor='let option of stages' [value]="option">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Tasks
      </div>
      <div class="row selectOption">
        <select (click)="taskClicked()" [disabled]="taskDisabled" class='select-option' required [(ngModel)]='taskSelected' (change)='onOptionSelected(taskSelected,"tasks")'>
          <option disabled hidden [value]="selectUndefinedOptionValue">Tasks</option>
          <option   class='option' *ngFor='let option of task' [disabled]="checkTaskShow(option)" [value]="option">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Hours
      </div>
      <div class="row selectOption">
         <input type="number" min="1" max="24" name="hours" [(ngModel)]="hours">
      </div>
      
    </div>
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Mins
      </div>
      <div class="row selectOption">
          <input type="number" min="1" max="60" name="mins" [(ngModel)]="mins">
      </div>
    </div>
    <div class="col-sm-2" style="padding-left: 0px;
         padding-right: 0px;">
        <div class="row headerName" >
        Comments
      </div>
      <div class="row selectOption">
          <input type="text" [(ngModel)]="comments" name="comments">
      </div>
    </div>
  </div>
  <tr  align="center">
    <td>
    <p style="color: red;">{{errString}}</p>  
  </td>
  </tr>
  <tr  align="center">
  <td>
  <button class="btn btn-primary text-center" (click)="submit()" style="text-align: center;">Submit</button>  
</td>
</tr>
</table>
<div style="margin-top: 5%;" class="col-sm-12 table-responsive">
<table class="table table-hover">
<thead style="background-color: #D4D4D4;">
  <tr>
    <th>Projects</th>
    <th>Stages</th>
    <th>Tasks</th>
    <th>Hours</th>
    <th>Minutes</th>
    <th>Comments</th>
  </tr>
  </thead>
  <tbody>
      <tr   *ngFor="let obj of timeSheetData" class="{{obj.classData}}"  >
          <td>{{obj.project}}</td>
          <td>{{obj.stage}}</td>
          <td>{{obj.task}}</td>
          <td>{{obj.hours}}</td>
          <td>{{obj.mins}}</td>
          <td>{{obj.comments}}</td>
        </tr>
  </tbody>
</table>
</div>
</div>
</div>