h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
.btn-group{
   width: 100%;
}

.col-sm-4 {
    background-color:#439889;
    padding: 0;
    margin-top: 1%;
}
.row{    padding: 2%;
	margin: 0px;
}
.btn-warning {
    color: #212529;
    background-color: #e9fde7;
    border-color: #fbfbfb42;
}
.headerName{
    background-color: #D4D4D4;
	padding:15%;
    width: 100%;
}
input{
	border-left-width: 2px;
    border-right-width: 2px;
    background-color: #F3F2F1;
    width: 100%;
}
select{
	width: 100%;
}
.selectOption{
    background-color:grey;
	padding:4%;
    width: 100%;
    height:8vh;
}
.success{
    background-color: rgba(0,255,128,0.5);
}
.danger{
    background-color: rgba(241, 38, 38, 0.5);
    
}
.none{
    background-color: rgba(255,255,255,1);
}